# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Media folders
uploads/*
!uploads/.gitkeep
outputs/*
!outputs/.gitkeep

# IDE & OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
